$side-nav-width: 310px;

.side-nav.fixed {
    width: $side-nav-width;
    transform: translateX(0) !important;
    left: initial;
    right: 0;
    .brand-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid lightgrey;
        img {
            max-width: 100%;
            max-height: 60%;
        }
    }
}

.side-bar-page {
    padding-right: $side-nav-width;
    height: 100vh;
}
