section {
    padding: 20px 10px;
    min-height: 300px;
}

a {
    text-decoration: none;
    transition: color .1s;
}

#sectionTitle {
    height: 500px;
}

#sectionTitle img {
    border-radius: 50%;
    height: 140px;
    border: 6px solid white;
    margin: 10px;
    transition: box-shadow .25s;
}
#sectionTitle img:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.bg-blue {
    background-color: #3498db;
}

.bg-green {
    background-color: #27ae60;
}

.bg-red {
    background-color: #e74c3c;
}

.bg-blue,
.bg-green,
.bg-red {
    color: #fff;
}

.white-text {
    color: #fff;
}

.api-section {
    margin-top: 40px;
    margin-bottom: 120px;
}
.tag-orange {
    background-color: #FF9B00;
    padding: 4px 6px;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    font-size: 90%;
}

pre {
    > code {
        overflow: auto;
    }
}