* {
    font-family: 'Roboto', sans-serif;
}

section {
    padding: 40px 10px;
    min-height: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

h5,
h6 {
    color: #3498db;
}

#sectionTitle {
    height: 500px;
}

#sectionTitle img {
    border-radius: 50%;
    height: 140px;
    border: 6px solid white;
    margin: 10px;
    transition: box-shadow .25s;
}

.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.bg-blue {
    background-color: #3498db;
}

.bg-green {
    background-color: #27ae60;
}

.bg-red {
    background-color: #e74c3c;
}

.bg-grey {
    background-color: #f1f1f1;
}

.bg-blue,
.bg-green,
.bg-red {
    color: #fff;
}

.white-text {
    color: #fff;
}

.api-section {
    padding-top: 55px;
    padding-bottom: 110px;
}

.tag-orange {
    background-color: #FF9B00;
    padding: 4px 6px;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    font-size: 90%;
}

.divider {
    margin: 10vh auto;
    border: 1px solid #E3A165;
    width: 40%;
}

pre {
    > code {
        overflow: auto;
    }
}

.griddle {
    .griddle-body {
        overflow: auto;
    }
    th,
    td {
        width: 110px;
    }
    .griddle-column-selection {
        input {
            position: initial !important;
            left: initial !important;
            opacity: 1 !important;
        }
    }
    select {
        display: initial !important;
        width: auto !important;
    }
}

.full-width {
    width: 100%;
}

.tight-container {
    padding: 15px;
}

#chartdiv {
    a {
        display: none !important;
    }
    input.amcharts-start-date-input, input.amcharts-end-date-input {
        transition: none;
    }
}

.queries {
    margin-right: 10px;
    margin-bottom: 10px;
}