* {
    font-family: 'Roboto', sans-serif;
}

section {
    padding: 40px 10px;
    min-height: 320px;
}

a {
    text-decoration: none;
    transition: color .1s;
    &:hover {
        cursor: pointer;
    }
}

.container {
    max-width: 1280px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

h5,
h6 {
    color: #3498db;
}

#sectionTitle {
    height: 500px;
}

#sectionTitle img {
    border-radius: 50%;
    height: 140px;
    border: 6px solid white;
    margin: 10px;
    transition: box-shadow .25s;
}

#sectionTitle img:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.bg-blue {
    background-color: #3498db;
}

.bg-green {
    background-color: #27ae60;
}

.bg-red {
    background-color: #e74c3c;
}
.bg-grey {
    background-color: #f1f1f1;
}

.bg-blue,
.bg-green,
.bg-red {
    color: #fff;
}

.white-text {
    color: #fff;
}

.api-section {
    padding-top: 55px;
    padding-bottom: 110px;
}

.tag-orange {
    background-color: #FF9B00;
    padding: 4px 6px;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    font-size: 90%;
}

.divider {
    margin: 12vh auto;
    border: 1px solid #E3A165;
    width: 40%;
}

pre {
    > code {
        overflow: auto;
    }
}

input[type=date] {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

.griddle {
    .griddle-body {
        overflow: auto;
    }
    th, td {
        width: 110px;
    }
}

// .card {
//     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
//     padding: 20px;
//     margin: 16px;
//     display: inline-block;
// }